/* YOUR CUSTOM STYLES */

html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.header_admin{
  height: 0px;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #006296;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #006296;
    }
}
/*Intro*/

.view {
    background: url("../img/shopping-cart-grocery-store-web.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #003830;
    border-color: #003830;
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
footer.page-footer {
    background-color: #077AB7;
}
